/* ----------------------------------------
Catamaran:300&Catamaran:700
---------------------------------------- */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 300;
  src: url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPCbd5a7duw.woff2') format('woff2'), url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPCbd5a7dvQ.woff') format('woff'), url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPCbd5a7dvg.ttf') format('truetype');
}


/* ----------------------------------------
Catamaran
---------------------------------------- */
@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd5a7duw.woff2') format('woff2'), url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd5a7dvQ.woff') format('woff'), url('./catamaran/v18/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd5a7dvg.ttf') format('truetype');
}